<!DOCTYPE html>
<html lang="en-US">
  <head>
      <title>Rastaar Haghi</title>
      <meta name="viewport" content = "width=device-width, initial-scale=1">
      <meta charset = "utf-8">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <style>
            html, body, header {
                padding: 0;
                margin: 0;
                background: #0e0e0e;
                color: white;
            }
            a { color: inherit; }

            h2 {
                text-align: center;
            }
            form {
                text-align: center;
            }

            /* set the jumbotron class's image to the studio one and align text center */
            .jumbotron {
                background: #242423;
                background-size: cover;
                text-align: center;
                border: 2.5px solid #9147FF;
                margin-left: 5%;
                margin-right: 5%;

            }

            .info-section {
                padding-left: 5%;
                padding-right: 5%;
                width: 100%;
            }

            .team-section {
                padding-left: 5%;
                padding-right: 5%;
                width: 100%;
            }

            .line {
                margin-right: 5%;
                margin-left: 5%;
                border: 2.5px solid darkslategray;
            }
            .col {
                max-width: 100%;
                min-width: 100%;
            }

            .col img {
                width: 100%
            }

            .teammates {
                text-align: center;
            }

            button {
                color: whitesmoke;
                background-color:darkslategray
            }
            #info-section {
                align-items: center;
                margin-left: auto;
                margin-right: auto;
            }

            footer p {
                text-align: center;
                color: #9147FF;
                margin-left: 5%;
                margin-right: 5%;
            }
            /* change the navbar color */
            .navbar {
                background: #0e0e0e;
            }

            /* adjust column rules when on tablet or desktop */
            @media (min-width: 768px) {
                .col {
                    float: left;
                    max-width: 50%;
                    min-width: 50%;
                }
            }
            .my-links {
                align-content: center;
                width: 33.3%;
                float: left;

            }
            .my-links img {
                width: 110px;
            }
        </style>
    </head>
  <body>
    <!-- Bootstrap documentation showed using these classes to be able to customize colors-->
    <nav class="navbar navbar-expand-mg navbar-dark">
        <a class="navbar-brand" href="home.ejs"> Rastaar Haghi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="home.ejs" style="color:whitesmoke">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.ejs" style="color: whitesmoke">Projects</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="contact.ejs" style="color:#9147FF;">Contact Me</a>
              </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <header>
      <div class = "jumbotron">
        <h1 class = "display-4">Contact Me</h1>
        <p class = "lead">Feel free to contact me about any software engineering opportunities or projects you may want to collaborate on!</p>
        <p class = "lead">Send me an email: rastaarhaghi@gmail.com</p>
        <div id="contact-links">
            <div class = "my-links">
                <a href="https://www.github.com/hrastaar"><img src= "../public/images/github.png" alt = "My GitHub"></a>
            </div>

            <div class = "my-links">
                <a href="https://www.linkedin.com/in/rastaarhaghi"><img src= "../public/images/linkedin.png" alt = "My LinkedIn"></a>
            </div>
        
            <div class = "my-links">
                <a href="mailto:rastaarhaghi@gmail.com"><img src= "../public/images/EmailTesting_Icon.png" alt = "Email Me!"></a>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
      </div>
    </header>
    <br>
    <br>
    <br>
    <footer>
      <p>Made by Rastaar Haghi</p>
    </footer>
  </body>
</html>
