<style>
        html, body {
            padding: 0;
            margin: 0;
            background: #242423;
            color: white;
        }
        header {
            color: whitesmoke;
            background:#242423;
        }
        a { color: inherit; } 
        form {
            text-align: center;
        };

        /* set the jumbotron class's image to the studio one and align text center */
        .jumbotron {
            background-image: url("images/usc.jpg");
            background-size: cover;
            text-align: center;
        }

        .info-section {
            padding-left: 5%;
            padding-right: 5%;
            width: 100%;
        }

        .team-section {
            padding-left: 5%;
            padding-right: 5%;
            width: 100%;
        }

        .line {
            margin-right: 5%;
            margin-left: 5%;
            border: 2.5px solid #FF1654;
        }
        .col {
            min-width: 100%;
            max-width: 100%;
        }

        .col img {
            width: 100%
        }

        .teammates {
            text-align: center;
        }

        button {
            color: whitesmoke;
            background-color:darkslategray
        }

        footer p {
            text-align: center;
            color: #FF1654;
        }
        /* change the navbar color */
        .navbar {
            background: #FF1654;
        }

        /* adjust column rules when on tablet or desktop */
        @media (min-width: 768px) {
            .col {
                float: left;
                max-width: 50%;
                min-width: 50%;
            }
        }
    </style>