<!DOCTYPE html>
<html lang="en-US">
  <head>
      <title>Rastaar Haghi</title>
      <meta name="viewport" content = "width=device-width, initial-scale=1">
      <meta charset = "utf-8">
      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        html, body, header {
            padding: 0;
            margin: 0;
            background: #0e0e0e;
            color: white;
        }
        header {
            color: whitesmoke;
        }
        a { color: inherit; } 
        #editor { 
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }

        li:hover {
          color: #9147FF;
        }

        #experience {
          margin-left: 5%;
          margin-right: 5%;
        }


        /* set the jumbotron class's image to the studio one and align text center */
        .jumbotron {
            background: url("../public/images/purp.jpeg");
            width: auto;
            height: auto;

            background-size: cover;
            text-align: center;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 2.5%;
        }

        .info-section {
            padding-left: 5%;
            padding-right: 5%;
            width: 100%;
        }

        .team-section {
            padding-left: 5%;
            padding-right: 5%;
            width: 100%;
        }

        .line {
            margin-right: 5%;
            margin-left: 5%;
            border: 2.5px solid #9147FF;
        }
        .col {
            max-width: 100%;
            min-width: 100%;
        }

        .col img {
            width: 100%
        }

        .teammates {
            text-align: center;
        }

        button {
            color: whitesmoke;
            background-color:darkslategray
        }

        
        /* change the navbar color */
        .navbar {
            background: #0e0e0e;
        }

        /* adjust column rules when on tablet or desktop */
        @media (min-width: 768px) {
            .col {
                float: left;
                max-width: 50%;
                min-width: 50%;
            }
        }
        .my-links {
            align-content: center;
            width: 33.3%;
            float: left;

        }
        a:hover {
          color: #9147FF;
        }
        .my-links img {
            margin-left: 35%;
            margin-right: 35%;
            width: 30%;
        }
    </style>
  
    </head>
  <body>
    <!-- Bootstrap documentation showed using these classes to be able to customize colors-->
    <nav class="navbar navbar-expand-mg navbar-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="home.ejs" style= "color:#9147FF;">About Me<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="projects.ejs" style="color: whitesmoke;">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.ejs" style="color: whitesmoke;">Contact Me</a>
              </li>
            </ul>
        </div>
    </nav>
    <header>
      <div class = "jumbotron">
        <h1 class = "display-4">Rastaar Haghi</h1>
      </div>
    </header>

    <br>
    <div class="info-section">
        <div class="row">
        <div class = "col">
          <h1>Attending the University of Southern California</h1>
          <p>I am currently a third-year Computer Science student at the University of Southern California, interested in a Software Engineering Internship for the summer of 2020.</p>
          <h4>My on-campus involvement includes:</h4>
          <ul>
          <a href="https://nsl.usc.edu/"><li>USC Networked Systems Lab</li></a>
          <a href="https://uscthetatau.org"><li>Theta Tau Professional Society</li></a>
          <a href="http://www.uscacm.org/"><li>Association of Computing Machinery</li></a>
          <a href="https://usg.usc.edu"><li>Undergraduate Student Government</li></a>
          <a href="http://www.scopeusc.com"><li>Scope USC</li></a>
          <a href="https://viterbischool.usc.edu/"><li>Viterbi Dean's List</li></a>
          <li>AT&T Most Socially-Impacting Project, 2018</li>
          </ul>
        </div>
        <div class="col">
            <img src="../public/images/pro-pic.jpg" class = "rounded-circle" alt="failed to load">
        </div>
        </div>
    </div>

    <br>
    <div class="line" ></div>
    <br>

    <div class="info-section">
      <div class="row">
        <div class = "col">
    <div id="editor" >
      let myLanguages = ['C++', 'HTML/CSS', 'JavaScript', 'Java'];
      let myTools = ['Node.js', 'Git', 'Linux', 'iOS Development', 'XCode', 'Postman'];

      function printSkills(languages, tools) {

        // print my programming languages
        console.log('my languages:');
        for(let i = 0; i < languages.length; i++) {
          console.log(languages[i]);
        }
        // print my tools 
        console.log('my tools')
        for(let i = 0; i < tools.length; i++) {
          console.log(tools[i]);
        }
      }
    </div>
                
            <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.5/ace.js" type="text/javascript" charset="utf-8"></script>
            <script>
                var editor = ace.edit("editor", {
                  newLineMode: 'auto'
                });
                editor.setTheme("ace/theme/monokai");
                editor.session.setMode("ace/mode/javascript");
                ace.require("ace/ext/language_tools");
                var editor = ace.edit("editor");
                editor.setOptions({
                    enableBasicAutocompletion: true
                });
                </script>
        </div>
        <div class = "col">
          <h1>Skills</h1>

          <h5>Programming Languages</h5>
          <ul>
            <li>C++</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Java</li>
            <li>PHP</li>
            <li>MySQL</li>
            <li>Swift</li>
          </ul>

          <h5>Tools and Frameworks</h5>
          <ul>
            <li>Node.js</li>
            <li>Git</li>
            <li>Linux</li>
            <li>iOS Development</li>
            <li>XCode</li>
            <li>Postman</li>
            <li>Google Cloud Platform</li>
            <li>MySQL Workbench</li>
            <li>MAMP</li>
            <li>Bootstrap</li>
          </ul>

          <h5>Relevant Coursework</h5>
          <ul>
            <li>Data Structures and Object Oriented Programming</li>
            <li>Principles of Software Development</li>
            <li>Full Stack Development</li>
            <li>Algorithms and Theory of Computing</li>
            <li>Discrete Methods in Computer Science</li>
            <li>The Complete iOS Development Bootcamp - Udemy Course</li>
            <li>Node.js Bootcamp - Coding with Mosh Bootcamp</li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <div class="line"></div>
    <br>

    <div id="experience">
      <h1>Work Experience</h1>
        <h3>Research Assistant</h3>
        <h5 style="color:#9147FF;">USC Networked Systems Lab</h5>
        <p style="color:lightgray">Apr. 2019 - Aug. 2019</p>
        <ul>
          <li>Designed object-oriented data structures that successfully model crop growth and yield optimization</li>
          <li>Created JavaScript weather API using Google Earth Engine that gathered 20 years of daily temperature
            data given coordinates, later used for weather modeling</li>
          <li>Created unit tests that ensured stability, functionality, and integrity of simulation functions</li>
        </ul>

        <br>
        <div class="line"></div>
        <br>

        <h3>Quality Assurance Intern</h3>
        <h5 style="color:#9147FF;">Promptlink Communications, Inc.</h5>
        <p style="color:lightgray;">June 2019 - Aug. 2019</p>
        <ul>
          <li>Conducted firmware tests on modems and reported on test performance and outcome</li>
          <li>Monitored internet routers and modem conditions/settings using MySQL</li>
          <li>Successfully recorded software bugs and errors and explained results with Software Development team</li>
        </ul>
    </div>

    <br>
    <div class="line"></div>
    <br>

    <div class = "my-links">
        <a href="https://www.github.com/hrastaar"><img src= "../public/images/github.png" alt = "My GitHub"></a>
    </div>

    <div class = "my-links">
        <a href="https://www.linkedin.com/in/rastaarhaghi"><img src= "../public/images/linkedin.png" alt = "My LinkedIn"></a>
    </div>

    <div class = "my-links">
        <a href="mailto:rastaarhaghi@gmail.com"><img src= "../public/images/EmailTesting_Icon.png" alt = "Email Me!"></a>
    </div>
    <br>
  </body>
  
</html>