<!DOCTYPE html>
<html lang="en-US">
  <head>
      <title>My Projects</title>
      <meta name="viewport" content = "width=device-width, initial-scale=1">
      <meta charset = "utf-8">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <style>
        html, body, header {
            padding: 0;
            margin: 0;
            background: #0e0e0e;
            color: white;
        }

        a { color: inherit; }
        form {
            text-align: center;
        };

        /* set the jumbotron class's image to the studio one and align text center */

        .jumbotron {
            text-align: center;
            align-content: center;
            background: none;
        }

        .info-section {
            padding-left: 5%;
            padding-right: 5%;
            width: 100%;
            align-content: center;
            text-align: center;
        }

        .team-section {
            padding-left: 5%;
            padding-right: 5%;
            width: 100%;
        }

        .line {
            margin-right: 5%;
            margin-left: 5%;
            border: 2.5px solid #9147FF;
        }
        .col {
            min-width: 100%;
            max-width: 100%;
        }

        .col img {
          width: 90%;
        }

        .teammates {
            text-align: center;
        }

        button {
            color: whitesmoke;
            background-color:darkslategray
        }

        footer p {
            text-align: center;
            color: #9147FF;
        }

        li:hover {
          color: #9147FF;
        }
        /* change the navbar color */
        .navbar {
            background: #0e0e0e;
        }
        .navbar-brand {
          color:#9147FF
        }

        /* adjust column rules when on tablet or desktop */
        @media (min-width: 768px) {
            .col {
                float: left;
                max-width: 50%;
                min-width: 50%;
            }
            .info-section {
              text-align:unset;
            }
        }
    </style>

    </head>
  <body>
    <!-- Bootstrap documentation showed using these classes to be able to customize colors-->
    <nav class="navbar navbar-expand-mg navbar-dark">
        <a class="navbar-brand" href="home.ejs"> Rastaar Haghi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/" style="color: whitesmoke">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="projects.ejs" style="color:#9147FF">Projects<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.ejs" style="color: whitesmoke">Contact Me</a>
              </li>
            </ul>
        </div>
    </nav>
    <header>
      <div class = "jumbotron bg-transparent">
        <h1 class = "display-4" style="text-align: center;">My Projects</h1>
        <p class = "lead" style="text-align: center;">My projects range from Twitch App Extensions, to iOS Development, to Node-based web-apps!</p>
      </div>
    </header>

    <div class="line" ></div>
    <br>

    <div class="info-section">
      <div class="row">
        <div class = "col">
          <a href="https://github.com/hrastaar/stock-portfolio"><img src="../public/images/welcome-image.png" alt="Robinhood-themed image"></a>
        </div>
        <div class = "col">
          <h1>Live Stock Portfolio</h1>
          <h4 style="color:#09f5e9">PHP + HTML/CSS/JavaScript</h4>
          <p>Nov. 2019 - Dec. 2019</p>
          <ul>
              <li>Created a PHP web app that allows users to search for live stock data and place ’orders’ into their portfolio</li>
              <li>Used MySQL to store encrypted user credentials, portfolio data, and stock search history</li>
              <li>Showed portfolio performance and allows full customizability of orders</li>
          </ul>

        </div>
      </div>
    </div>

    <br>
    <div class="line" ></div>
    <br>

    <div class="info-section">
      <div class="row">
        <div class = "col">
          <h1>Music Party Web App</h1>
          <h4 style="color:#09f5e9">HTML/CSS/JavaScript + Java</h4>
          <p>Sept. 2019 - Dec. 2019</p>
          <ul>
              <li>Created a web app that allows users to host and join music rooms, add songs to a queue, and upvote songs, moving them around along the queue based on user votes</li>
              <li>Implemented multithreading in Java to allow live updates of song scores across all users in each room</li>
              <li>Utilized MySQL database to store user account data and music room information</li>
              <li>Group project for CSCI 201</li>
          </ul>
        </div>
        <div class = "col">
          <a href="https://github.com/hrastaar/CSCI201_Music_Party"><img src="../public/images/music.jpeg" alt="music image"></a>
        </div>
      </div>
    </div>

    <br>
    <div class="line" ></div>
    <br>

    <div class="info-section">
      <div class="row">
        <div class = "col">
            <a href="https://github.com/AuraOfDivinity/React_runes"><img src="../public/images/twitch.jpeg" alt="Twitch.tv Logo"></a>
        </div>
        <div class = "col">
          <h1>Twitch Extension, League of Legends</h1>
          <h4 style="color:#09f5e9">Node.js + Express</h4>
          <p>Sept. 2019 - Oct. 2019 (Incomplete)</p>
          <ul>
              <li>Created Node app that fetches live LoL in-game loadouts from Riot API, to be displayed during streams</li>
              <li>Deployed Express server on the cloud to handle real-time backend usage</li>
              <li>Part of a two-person team for Twitch’s Dev Jam 2019, met through Twitch Developer Community</li>
          </ul>
        </div>
      </div>
    </div>

    <br>
    <div class="line" ></div>
    <br>

    <div class="info-section">
        <div class="row">
        <div class = "col">
          <h1>Live Stock Portfolio</h1>
          <h4 style="color:#09f5e9">Node.js + Express</h4>
          <p>June 2019</p>
          <ul>
              <li>Implemented a web app using Node that allows users to search for live stock data</li>
              <li>Sends GET request to AlphaVantage API, and navigates returned JSON data for specific stock data</li>
              <li>Handles RESTful requests to fetch and return live data to users</li>
          </ul>
        </div>
        <div class="col">
            <a href="https://github.com/hrastaar/Portfolio-App"><img src="../public/images/alpha-vantage.jpeg" alt="portfolio pic"></a>
        </div>
        </div>
    </div>

    <br>
    <div class="line" ></div>
    <br>

    <div class="info-section">
        <div class="row">
          <div class="col">
              <img src="../public/images/C++.jpeg" alt="portfolio pic">
          </div>
        <div class = "col">
          <h1>E-Commerce Simulator</h1>
          <h4 style="color:#09f5e9">C++</h4>
          <p>Feb. 2019 - Mar. 2019</p>
          <ul>
              <li>Implemented an online marketplace that allows users to search through a database for product info</li>
              <li>Efficiently searches through database and utilizes multiple product sorting features</li>
              <li>Allows users to add-to-cart, view/write reviews, checkout, etc. if the products are available</li>
          </ul>
        </div>
        </div>
    </div>

    <br>
    <div class="line" ></div>
    <br>

    <div class="info-section">
        <div class="row">
        <div class = "col">
          <h1>Twitch Chat Bot, Destiny 2</h1>
          <h4 style="color:#09f5e9">Node.js</h4>
          <p>July 2019</p>
          <ul>
              <li>Twitch.tv chat bot that showcases streamer's Destiny 2 statistics</li>
              <li>Uses Bungie's Developer API to fetch user data and manipulate JSON results</li>
              <li>Certain viewer chat prompts cause this bot to reply with live Destiny 2 stats, using tmi.js npm package</li>
          </ul>
        </div>
        <div class="col">
            <a href="https://github.com/hrastaar/My-Twitch-Bot"><img src="../public/images/bungie.png" alt="Bungie-logo"></a>
        </div>
        </div>
    </div>

    <br>
    <div class="line" ></div>
    <br>

    <div class="info-section">
        <div class="row">
          <div class="col">
              <img src="../public/images/car.png" alt="FineTune">
          </div>
        <div class = "col">
          <h1>FineTune</h1>
          <h4 style="color:#09f5e9">Swift / iOS Development</h4>
          <p>June 2019 - Present</p>
          <ul>
              <li>Created car hub app where users have a customizable, navigation map using Google Maps API</li>
              <li>Utilized Google Firebase to manage user accounts/info and Google AdMob to generate ads</li>
              <li>Integrating WebRTC to allow personal voice calls between users</li>
          </ul>
        </div>
        </div>
    </div>

    <br>
    <div class="line" ></div>
    <br>

    <div class="info-section">
        <div class="row">
        <div class = "col">
          <h1>MarketTalk</h1>
          <h4 style="color:#09f5e9">Swift / iOS Development</h4>
          <p>Jan. 2019 - Feb. 2019</p>
          <ul>
              <li>Created a text chat app made for people to learn more about investing</li>
              <li>Uses Google Firebase to handle user accounts and stores messages sent in the chat</li>
          </ul>
        </div>
        <div class="col">
            <a href="https://github.com/hrastaar/MarketTalk"><img src="../public/images/MarketTalk.png" alt="marketTalk" style="max-height: 500px; max-width: 500px;"></a>
        </div>
        </div>
    </div>

    <br>
    <div class="line" ></div>
    <br>


    <footer>
      <p>Made by Rastaar Haghi</p>
    </footer>
  </body>
</html>
